services:
  # --- 1. BACKEND ---
  backend:
    image: ghcr.io/nguyenhuuhoang711/nodejs2api-backend:latest
    container_name: nodejs2api-backend
    restart: always
    environment:
      - PORT=3000
      - NODE_ENV=production
      - JWT_SECRET=${JWT_SECRET}
      # Backend sẽ lấy chuỗi kết nối từ file .env
      - MONGO_URL=${MONGO_URL} 
    networks:
      - nodejs2api-network

  # --- 2. FRONTEND ---
  frontend:
    image: ghcr.io/nguyenhuuhoang711/nodejs2api-frontend:latest
    container_name: nodejs2api-frontend
    restart: always
    networks:
      - nodejs2api-network

  # --- 3. NGINX ---
  nginx:
    image: nginx:1.25-alpine
    container_name: nodejs2api-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      # Lưu ý: Đảm bảo đường dẫn file nginx.conf trên server đúng là ./nginx/nginx.conf
      # Nếu file nằm ngay ngoài cùng thư mục my-app thì sửa thành ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - nodejs2api-network

networks:
  nodejs2api-network:
    driver: bridge