name: Build Docker Image

on:
  push:
    branches: [ "main" ]

# KHAI BÁO BIẾN DÙNG CHUNG
env:
  # 1. Đảm bảo username này CHÍNH XÁC là username của bạn (viết thường 100%)
  # Ví dụ: nếu nick là NguyenHuuHoang711 thì phải viết là nguyenhuuhoang711
  BASE_IMAGE_NAME: ghcr.io/nguyenhuuhoang711/nodejs2api

jobs:
  # --- JOB BUILD BACKEND ---
  build-backend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Lấy code về
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          # Kỹ thuật ghép chuỗi: Lấy biến chung + thêm đuôi "-backend"
          tags: ${{ env.BASE_IMAGE_NAME }}-backend:latest

  # --- JOB BUILD FRONTEND ---
  build-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Lấy code về
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          # Kỹ thuật ghép chuỗi: Lấy biến chung + thêm đuôi "-frontend"
          tags: ${{ env.BASE_IMAGE_NAME }}-frontend:latest